// $icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap';

$black: #000000;
$pink: #ffe6e6;

.emptyBoard {
//  width: 90%;
//  padding: 0px;
//  margin: 0, auto;
  // width: 500px;
  // height: 500px;
}

.row {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  // height: 33.333%;
  // border: solid 1px black;
  // border-collapse: collapse;
}

.square {
  display: inline-block;
  width: 32%;
  height: 150px;
  border: solid 1px black;
  background-color:$pink;
  float: left;
  font-family: sans-serif;
  font-size: 80px;
  text-align: center;
  vertical-align: middle;



  // border-collapse: collapse;
}

.square:hover {
  background: $black;
   mix-blend-mode: multiply;
   opacity: 0.2;
   cursor: pointer;
 }

/*@mixin tablet {
  @media (min-width: # {$tablet-width}) and (max-width: # {$tablet-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: # {$desktop-width}) {
    @content;
  }

@mixin phone {
  @media (min-width: # {$phone-width}) and (max-width: # {$phone-width - 1px}) {
    @content;
  }
}*/
/*
.emptyboard {
  margin-top: 20%;
}

.square {
  margin: 1%;
  padding-bottom: 100%;
  //background: $black;
  // height: 20px;
  // width: 20px;
}

$pink: #ffe6e6;
$black: #000000;
$yellow: #ffff00;

.one {background-color: $pink;}
.two {background-color: $pink;}
.three {background-color: $pink;}
.four {background-color: $pink}
.five {background-color: $pink;}
.six {background-color: $pink;}
.seven {background-color: $pink;}
.eight {background-color: $pink;}
.nine {background-color: $pink;}



.square-x {
  background-color: $black;
}

.square-o {
  background-color: $yellow;
}
*/
