/*@mixin tablet {
  @media (min-width: # {$tablet-width}) and (max-width: # {$tablet-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: # {$desktop-width}) {
    @content;
  }

@mixin phone {
  @media (min-width: # {$phone-width}) and (max-width: # {$phone-width - 1px}) {
    @content;
  }
}*/

.container {
  margin-top: 20%;
}

.square {
  margin: 1%;
  padding-bottom: 100%;
}

$pink: #ffe6e6;
$black: #000000;

.one {background-color: $pink;}
.two {background-color: $pink;}
.three {background-color: $pink;}
.four {background-color: $pink}
.five {background-color: $pink;}
.six {background-color: $pink;}
.seven {background-color: $pink;}
.eight {background-color: $pink;}
.nine {background-color: $pink;}

.col :hover {
  background: $black;
  mix-blend-mode: multiply;
  opacity: 0.2;
  cursor: pointer;
}
